#about{
    padding: 5rem 3rem;
}
#about h1{
    text-align: center;
    padding: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.abot_all h2{
    margin-top: -20px;
    height: 3rem;
    color: yellow;
}
.abot_all h2 .bh{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.abot_all img{
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    height: 100%;
}
.bty{
    color: white;
    font-size: 18px;
    font-weight: 600;
    color: aqua;
}
.abot_all p{
    max-width: 500px;
    width: 100%;
    margin: 1rem 0;
    line-height: 28px;
    font-weight: 300;
}

@media(max-width:400px){
    .abot_all img{
        min-height: 250px;
        height: 100%;
        max-width: 600px;
        width: 100%;

    } 
    .abot_all h2{
        margin-top: -60px;
        color: yellow;
        padding: 40px 0;
        font-size: 1.5rem;
    }
    .abot_all h2 .bh{
        color: white;
        font-size: 30px;
        font-weight: 600;
    }

    .bty{
        color: white;
        font-size: 18px;
        font-weight: 600;
        color: aqua;
        margin-top: 100px;

    }
    .abot_all p{
        max-width: 500px;
        width: 100%;
        margin: 0.1rem 0;
        line-height: 28px;
        font-weight: 300;
        padding: 10px 0;
    }
}
